<meta charset="UTF-8">


<form style="margin-top: 55px;" name="myForm" class="form-horizontal"
	role="form" novalidate>
	<h1 class="text-left page-header">メッセージ新規</h1>
	<div class="form-group">
		<label class="control-label col-sm-2" style="margin-top: 5px;"
			for="message">メッセージ</label>
		<div class="col-sm-4">
			<input id="message" name="message" ng-model="message"
				class="form-control" placeholder="メッセージを入力してください" required>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit"
				ng-disabled="myForm.message.$dirty && myForm.message.$invalid ||!myForm.message.$dirty && myForm.message.$invalid "
				class="
								btn btn-primary btn-lg" ng-click="insert(message);">新規</button>
		</div>
	</div>
</form>
<div
	style="border-style: dashed; border-width: thin; margin-top: 500px;"
	ng-show="rsmessage!=''">
	<br />
	<p>{{rsmessage}}</p>
</div>